.container{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    background: #949494;
    height: 300px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}
.item{width: 300px; background: #474747; margin-left: 2px;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;
/* flex-direction,flex-warp,flex-flow,justify-content,align-items,align-content, */
}
.red{background: #ff0000;-webkit-box-flex:48px;-ms-flex:48px;flex:48px; margin-left: 20px;}
.green{background: green;-webkit-box-flex:24px;-ms-flex:24px;flex:24px}
.yellow{background: yellow;-webkit-box-flex:100px;-ms-flex:100px;flex:100px}
#container > div:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #container > div:nth-child(2) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  #container > div:nth-child(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #container > div:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .div01{display: -webkit-box;display: -ms-flexbox;display: flex;}
  .box{width: 100%; display: flex; justify-content: space-around; flex-flow: row wrap;}
  .box01{  max-width: 472px; min-width: 160px; display: flex; background: #949494; flex-flow:column nowrap; margin: 10px auto; }
  .box01 div{text-align: center; line-height: 30px;}
  .title{width: 80%;align-self:center;}
  .content{display: flex;flex-flow: column nowrap;}
  .btn{display: flex;justify-content: space-around; }
  .btn a{display: inline-block; width: 45%;}
  .fromA input{flex-grow: 1;}
  .lineshow{text-overflow: ellipsis; overflow: hidden;}